<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Dashboard Test">
        <classes>
            <class name="testScripts.DashboardTestScripts">
                <methods>
                    <include name="widgetAPI"/>
                    <include name="employeeTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Employee Create,Update, Delete">
        <classes>
            <class name="testScripts.EmployeeCURDTest">
                <methods>
                    <include name="employeeCreation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="SkillTest Create, Update, Read and Delete">
        <classes>
            <class name="testScripts.SkillTestScripts">
                <methods>
                    <include name="skillCURDOperation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>